---
import SectionTitle from "../common/Section-title.astro";
import Question from "../../assets/icons/question.svg";
import { faqList } from "../../data/faqs";
import FaqCard from "./Faq-card.astro";
---

<section class="py-10 pt-14 pb-24 px-5 bg-[#f0f0f0]">
  <SectionTitle
    label="Preguntas Frecuentes"
    subtitle="Respondemos las consultas más frecuentes de nuestros clientes"
    hasIcon={true}
  >
    <Question class="text-[#35796F]" slot="icon" />
  </SectionTitle>

  <div class="mt-10 flex flex-col gap-4">
    {
      faqList.map((faq) => (
        <FaqCard
          key={`faq-${faq.id}`}
          question={faq.question}
          answer={faq.answer}
          id={faq.id}
        />
      ))
    }
  </div>
</section>
