---
import SectionTitle from "../ui/SectionTitle.astro";
import Question from "../../assets/icons/question.svg";
import { faqList } from "../../data/faqs";
import FaqCard from "./Faq-card.astro";
---

<section class="py-14 2xl:py-24 pt-16 pb-28 2xl:pb-32 px-5 bg-gradient-to-b from-white via-neutral-50/40 to-white">
  <SectionTitle
    label="Preguntas Frecuentes"
    subtitle="Respondemos las consultas más frecuentes de nuestros clientes"
    hasIcon={true}
  >
    <Question class="text-primary-500" slot="icon" />
  </SectionTitle>

  <div class="mt-12 flex flex-col gap-3 md:items-center">
    {
      faqList.map((faq) => (
        <FaqCard
          key={`faq-${faq.id}`}
          question={faq.question}
          answer={faq.answer}
          id={faq.id}
        />
      ))
    }
  </div>
</section>
