---
import SectionTitle from "../ui/SectionTitle.astro";
import Question from "../../assets/icons/question.svg";
import { faqList } from "../../data/faqs";
import FaqCard from "./Faq-card.astro";
---

<section class="py-10 2xl:py-28 pt-14 pb-24 2xl:pb-28 px-5 ">
  <SectionTitle
    label="Preguntas Frecuentes"
    subtitle="Respondemos las consultas más frecuentes de nuestros clientes"
    hasIcon={true}
  >
    <Question class="text-primary-500" slot="icon" />
  </SectionTitle>

  <div class="mt-10 flex flex-col gap-4 md:items-center">
    {
      faqList.map((faq, index) => (
        <FaqCard
          key={`faq-${faq.id}`}
          question={faq.question}
          answer={faq.answer}
          id={faq.id}
          index={index}
        />
      ))
    }
  </div>
</section>
