---
import Check from "../../assets/icons/check.svg";
import { allProjects } from "../../data/projects.js";
import ProjectCard from "../common/Project-card.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Button from "../ui/Button.astro";
---

<section class="py-14 2xl:py-20 px-5 md:flex md:flex-col md:items-center bg-neutral-50/40">
  <SectionTitle
    label="Proyectos Realizados"
    subtitle="Experiencia, innovación y resultados comprobados en cada uno de nuestros trabajos"
    hasIcon={true}
  >
    <Check class="text-primary-500" slot="icon" />
  </SectionTitle>

  <div
    class="mt-10 md:mt-12 flex flex-col md:grid md:grid-cols-[20rem_20rem] gap-5 md:gap-10 lg:hidden"
  >
    {
      allProjects
        .slice(0, 4)
        .map((project) => (
          <ProjectCard
            image={project.image}
            title={project.title}
            subtitle={project.subtitle}
            id={project.id}
          />
        ))
    }
  </div>

  <div
    class="mt-12 hidden grid-cols-3 gap-6 xl:gap-7 grid-rows-2 lg:w-[56rem] xl:w-[68rem] lg:grid 2xl:hidden"
  >
    {
      allProjects
        .slice(0, 6)
        .map((project) => (
          <ProjectCard
            image={project.image}
            title={project.title}
            subtitle={project.subtitle}
            id={project.id}
          />
        ))
    }
  </div>

  <div
    class="mt-16 hidden grid-cols-3 gap-8 2xl:gap-10 gap-y-10 grid-rows-2 w-[76rem] 2xl:grid"
  >
    {
      allProjects
        .slice(0, 6)
        .map((project) => (
          <ProjectCard
            image={project.image}
            title={project.title}
            subtitle={project.subtitle}
            id={project.id}
          />
        ))
    }
  </div>

  <div class="flex justify-center h-36 items-center">
    <Button href="/projects" variant="outline">MÁS PROYECTOS</Button>
  </div>
</section>
