---
const { image, name, body } = Astro.props;
import QuoteIcon from "../../assets/icons/quote.png";
---

<div
  class="h-[26rem] lg:h-[18rem] xl:h-[22rem] 2xl:h-[24rem] flex flex-col justify-center items-center gap-4 lg:gap-3 2xl:gap-4 bg-[#131C27] rounded-md shadow-md pb-3 md:shrink-0 md:w-[20.2rem] lg:w-[100%]"
>
  <img
    src={QuoteIcon.src}
    alt="quote icon testimonials"
    class="w-14 lg:w-8 xl:w-11 2xl:w-13 h-14 lg:h-8 xl:h-11 2xl:h-13"
  />
  <p
    class="text-[#c7c7c7] max-w-[35ch] lg:max-w-[30ch] 2xl:max-w-[31ch] text-center text-[.9rem] lg:text-[.7rem] xl:text-[.8rem] 2xl:text-[.9rem] font-light lg:font-extralight leading-6 lg:leading-4 xl:leading-[1.3rem] 2xl:leading-[1.4rem]"
  >
    {body}
  </p>
  <img
    src={image.src}
    alt={name}
    class="w-[5.5rem] lg:w-[3.5rem] xl:w-[4rem] 2xl:w-[5rem] h-[5.5rem] lg:h-[3.5rem] xl:h-[4rem] 2xl:h-[5rem] rounded-full border-2 border-[#35796F] object-cover"
  />
  <h1 class="font-oswald text-[#35796F] text-2xl lg:text-base xl:text-lg 2xl:text-xl">
    {name.toUpperCase()}
  </h1>
</div>
