---
import SectionTitle from "../common/Section-title.astro";
import ComponentsIcon from "../../assets/icons/components.svg";
import { components } from "../../data/components.js";
---

<section class="px-8 pb-5">
  <SectionTitle label="Tipos de paneles y Componentes" hasIcon={true}>
    <ComponentsIcon slot="icon" />
  </SectionTitle>

  <div class="py-10 flex flex-col gap-8">
    {
      components.map((component) => (
        <div class="flex flex-col items-center gap-4">
          <div class="h-36 w-36 border border-[#6F6F6F] rounded-full flex items-center justify-center">
            <img src={component.icon} alt={component.title} class="h-20 w-20" />
          </div>

          <div class="flex flex-col gap-2">
            <h1 class="text-center text-[1.4rem] font-oswald text-[#35796F] font-semibold">{component.title}</h1>
            <p class="text-center">{component.subtitle}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
