---
const { image, title, subtitle, id } = Astro.props;
---

<artice class="w-full h-80 lg:h-72 border shadow-sm">
  <a
    href={`/projects/preview/${id}`}
    class="grid grid-rows-[13.5rem_1fr] lg:grid-rows-[11.5rem_1fr] text-inherit"
  >
    <div class="border-b">
      <img src={image.src} alt={title} class="w-full h-full object-cover" />
    </div>

    <div class="flex flex-col pt-4 lg:pt-2 lg:gap-[.1rem]">
      <h1 class="font-oswald text-xl lg:text-lg 2xl:text-xl text-center text-[#35796F]">{title}</h1>
      <h2 class="text-center md:max-w-[25ch] lg:max-w-[32ch] md:self-center lg:text-[.8rem] 2xl:text-[.9rem]">{subtitle}</h2>
    </div>
  </a>
</artice>
